.footer_container h1 {
  color: silver;
}

.contact_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: smaller;
}

.contact_div {
  color: silver;
}
.footer_wrapper {
  height: 10%;
}

@media only screen and (min-width: 1200px) {
  .contact_content {
    flex-direction: row;
    font-size: large;
    align-items: flex-start;
  }
  .footer_container h1 {
    font-size: 3.5rem;
  }
}
